.loading-page{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: auto;
    margin-top: 2vmax;
}
 .loader{
    width: 150px;
    height: 150px;
   border: 5px solid blue;
    border-radius: 50%;
   
    border-bottom: 5px solid gray;
    animation: rotate 1.5s linear infinite;
}
.loading-page > p{
    font: 500 1.1vmax "Rubik";
    color: #fff;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
        
      
    }
}

