.product_container2 {
  position: relative;
  top: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 transition: 0.3s;
 margin-bottom: 0.3rem;
 overflow: hidden;
  }
  .product_container2:hover{
    position: relative;
    top: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.1);
    border-radius: 7px;
    top: 0;
  }
  .product_image2 {
    width: 11vw;
    max-height: 15vh; /* Adjust as needed */
    object-fit: contain;
    border-radius: 8px;
    /* mask-image: linear-gradient(to bottom, rgb(92, 80, 80), rgba(148, 142, 142, 0)); */
  }
  
  .product_details2 {
    margin-top: 10px;
    text-align: center;
  }
  
  .product_name2 {
    font-size: 11px;
    width: 8vw;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .product_rating2 {
 
   color: #fff;
   border-radius: 2px;
   text-align: center;
   padding: 2px;
   width: 10vw;
   font-family: 'Roboto', sans-serif;
    font-size: 5px;
  }
  
  @media only screen and (max-width:700px) {
    .product_container2 {
      position: relative;
      top: 0.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
     transition: 0.3s;
     overflow: hidden;
     margin-bottom: 1rem;
    }
    .product_image2 {
    
        width: 48vw;
        object-fit: cover;
        border-radius: 8px;
      
      
    }
    .product_details2 {
      margin-top: 10px;
      text-align: center;
    }
    .product_name2 {
      font-size: 16px;
      color: #111;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }
    .product_rating2 {
      /* background-color: red; */
     color: #fff;
     border-radius: 2px;
     text-align: center;
     width: 16vw;
     font-family: 'Roboto', sans-serif;
    }
  }